:root {
  --color: #21243d;
  --color-container: rgb(250, 247, 241);
  --color-main: rgba(136, 134, 134, 0.212);
  --color-rock: #19ABA0;
  --color-paper: #c753aa;
  --color-scissors: #e48a36;
  --color-rock-hover: #19ab9fcb;
  --color-paper-hover: #c753aad0;
  --color-scissors-hover: #e48a36d5;
  --main-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: var(--main-size);
  color: var(--color);
  background-color: var(--color-container);
   @media (max-width: 490px)  { 
    font-size: 12px;
   }
   @media (max-width: 390px)  { 
    font-size: 10px;
   }

}


.container{
    padding: 10px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ================================= MAIN =============================== */
.main{
  width: 100%;
  max-width: 540px;
  padding: 2rem;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  background: var(--color-main);
}

.main_header{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
}
.main_header h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.main_btn{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.btn{
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  color: #f3f703;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  &:hover{
    transition: all 0.2s ease 0s;
    font-size: 4.5rem;
  }
  &:active{
    font-size: 4.2rem;
  }
}

.rock{
  background: var(--color-rock);
  &:hover{
    background: var(--color-rock-hover);
    box-shadow: 0px 0px 0px 2px var(--color-rock-hover);
  }
}
.paper{
  background: var(--color-paper);
  &:hover{
    background: var(--color-paper-hover);
    box-shadow: 0px 0px 0px 0.1rem var(--color-paper-hover);
  }
}
.scissors{
  background: var(--color-scissors);
  &:hover{
    background: var(--color-scissors-hover);
    box-shadow: 0px 0px 0px 0.1rem var(--color-scissors-hover);
  }
}

.main_footer{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.btn_reset{
  font-size: 1.5rem;
  color: var(--color);
  /* border: 2px solid var(--color); */
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  background: #00000013;
  cursor: pointer;
  &:hover{
    background: #00000021;
  }
  &:active{
    background: #0000002f;
  }

}

/* ================================ FOOTER ============================== */
.footer {  
    text-align: center;
    padding: 2rem 0rem;
}

.footer_social {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  .social_item {
    margin: 0rem 0.71rem;
  }
}
.social_item {
  font-size: 2.2rem;
  color: #21243d;
  transition: all 0.2s ease 0s;
  &:hover {
    color: #e05c5c;
  }
}

.footer_made {
  font-size: 1.2rem;
}
